@media (max-width: 1300px)  {

/*   --section-projects--   */
    
    .projects_photo-gallery ul {
        display: none;
    }

    .projects_container {
        padding: 34px 18px;
    }

    .projects_title {
        position: static;
        padding-top: 0px;
        margin: 0 auto;
        margin-bottom: 22px;
        
    }

    .projects_total {
        align-items: center;
    }

    .projects_photo-gallery {
        position: static;
        margin: 0 auto;
        
    }
 
    .projects_info {
        max-width: 442px;
        min-height: 190px;
        padding-top: 30px;
    }



    .projects_h2 {
    align-self: center;
    font-size: 23px;
    line-height: 35px;
    }

    .projects_p {
        font-size: 13px;
        line-height: 20px;
        align-self: center;   /*НЕ ПОЛУЧАЕТСЯ ВЫРОВНЯТЬ ПО ЦЕНТРУ.. ОБЕРНУТЬ В SPAN ТОЖЕ НЕ ПОМОГАЕТ    */
    }
    
    .projects_h4 {
        font-size: 14px;
        line-height: 138.6%;
    }
    
    .projects_block span {
        font-size: 11px;
        line-height: 15px;
    }







/*  ВАРИАНТ--2  


   .projects_title {
        padding-top: 20px;
        padding-right: 575px;  /*?хз?
        
    }

    .projects_photo-gallery  {
        z-index: 1;   /*?хз?
    }

    .projects_h2 {
        font-size: 23px;
        line-height: 35px;
    }
       .projects_p {
        max-width: 450px;
        font-size: 13px;
        line-height: 20px;
        margin-top: 10px;
    }
   
    
    .projects_info {
      padding-bottom: 0px;
    }


    .projects_photo-gallery {
       max-width: 440px;
    }

    .projects_photo-gallery li a:hover {
        padding-bottom: 0px;
    }

*/
  

}